* {padding:0;margin:0;}

html {width:100%;height:100%;}

body {
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
    font-weight:200;
    color:#434343;
    background:#FFF;
    height: 100%
}

@media screen and (max-width: 600px) {
    body {font-size: 10px}

}

.container {
    width: 100%;
    margin:0;
}

/* navbar */

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    float: none;
    background-color: #ffffff;
    padding: 0;
    z-index: 99;
    transition: .2s all linear;
}


.navbar .logo {
    margin: 1em 2%;
}

.navbar .logo img {
    max-height: 50px;
    width: auto;
}

.navbar-content {
    display: flex;
    flex-direction: row;
    margin: 0 2%;
}

.navbar-content .link {
    float: left;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}

.navbar-content a {
    font-size: 1.2em;
    color: #434343;
    text-decoration: none;
    -webkit-transition: color .3s linear;
    -moz-transition: color .3s linear;
    -ms-transition: color .3s linear;
    -o-transition: color .3s linear;
    transition: color .3s linear;
}

.navbar-content a:hover, .navbar-content a:focus {
    font-size: 1.2em;
    color: #62a463;
    text-decoration: none;
}

.navbar-content .active a{
    border-bottom: 3px solid #62a463;
}

.navbar-content .icon {
    display: none;
}

.navbar .icon {
    float: right;
    margin-left: auto;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    display: none;
}

.navbar .icon a {
    font-size: 1.2em;
    color: #62a463;
    text-decoration: none;
    -webkit-transition: color .3s linear;
    -moz-transition: color .3s linear;
    -ms-transition: color .3s linear;
    -o-transition: color .3s linear;
    transition: color .3s linear;
}

.navbar .icon a:hover, .navbar .icon a:focus {
    font-size: 1.2em;
    color: #62a463;
    text-decoration: none;
    cursor: pointer;
}



@media screen and (max-width: 950px) {
    .navbar-content {
        display: none;
    }

    .navbar .icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 1070px) {
    .navbar-content .link {
        padding: 15px 10px;
        letter-spacing: 1px;
    }


}

@media screen and (max-width: 950px) {
    .navbar-content.responsive {position: relative; display: block; margin: 2em}

    .navbar a.icon {
        position: absolute;
        right: 0;
        margin-right: .4em;
        font-size: 4em;
        padding: 0;
        top: 0;
    }

    .navbar a.icon:hover, .navbar a.icon:active {
        position: absolute;
        right: 0;
        margin-right: .4em;
        font-size: 4em;
        padding: 0;
        top: 0;
    }

    .navbar-content.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 600px) {

    .navbar .logo img {
        max-height: 30px;
        width: auto;
    }
}



/* header */

.sponsorzy {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 80px auto 1em auto;
    height: auto;
    min-height: 30px;
    width: 40%;
    }

.sponsorzy img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.header {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
}

.header img {
    width: 100%;
}



.header .img-text {
    position: absolute; /* Position the background text */
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding:20px 0; /* Some padding */
}

.header .img-text h1 {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 0;
    font-weight: 400;
}

.header .img-text h2 {
    font-size: 3.1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 0;
    font-weight: 400;
}

.header .img-text h3 {
    font-size: 2em;
    letter-spacing: 2px;
    padding: 3px 0;
    font-weight: 300;
}

.header .img-text img {
    max-width: 50px;
    min-width: 20px;
    height: auto;

}

.header .btn {
    margin: .5% 0;
    box-shadow: 0 4px 11px 3px rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 5px;
    background-color: #6cbf6d;
    color:#434343;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    font-weight: 300;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.header .btn:hover {
    background: rgba(0,0,0,0);
    color:#6cbf6d;
    box-shadow: inset 0 0 0 3px #6cbf6d;
    cursor: pointer;
}


@media screen and (max-width: 1070px) {
    .header .img-text h1 {
        font-size: 2.6em;
        letter-spacing: 1px;
    }

    .header .img-text h2 {
        font-size: 2.7em;
        letter-spacing: 1px;
    }
    .header .img-text h3 {
        font-size: 1.5em;
        letter-spacing: 1px;
    }
    .header .btn {
        font-size: 1.3em;
        letter-spacing: 1px;
        padding: 8px;
    }
}

@media screen and (max-width: 950px) {
    .sponsorzy {
        width: 60%;
        height: auto;
    }
}

@media screen and (max-width: 680px) {
    .header .img-text {
        padding: 15px 0;
    }

    .header .img-text h1 {
        font-size: 2.2em;
        letter-spacing: 1px;
        padding: 0;
    }
    .header .img-text h2 {
        font-size: 2em;
        letter-spacing: 1px;
    }

    .header .img-text h3 {
        font-size: 1.1em;
        letter-spacing: 1px;
    }
    .header .btn {
        font-size: 1.2em;
        letter-spacing: 1px;
        padding: 8px;
        margin: 0;
    }
}



@media screen and (max-width: 480px) {
    .header {
        height: 150px;

    }

    .header img {
        height: 150px;
        object-fit: cover;
    }



    .header .img-text h1 {
        font-size: 1.6em;
        letter-spacing: 1px;
        padding: 0;
    }
    .header .img-text h2 {
        font-size: 1.3em;
        letter-spacing: 1px;
    }

    .header .img-text h3 {
        font-size: 1em;
        letter-spacing: 1px;
    }
    .header .btn {
        font-size: 1.1em;
        letter-spacing: 1px;
        padding: 8px;
        margin: 0;
    }

    .sponsorzy {
        margin-top: 60px;
        width: 100%;
        height: auto;
    }

}




/* content */

.content {
    width: 100%;
    padding: 1%;
    margin: auto;

}

section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em auto;
    padding: 2%;
}

section h1 {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 1em;
    font-weight: 400;
}

section h2 {
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 1em;
    font-weight: 300;
}

section h3 {
    font-size: 1.5em;
    letter-spacing: 1px;
    padding: 5px 1em;
    font-weight: 300;
}

section p {
    margin-bottom: .5em;
}

section .star {
    font-size: .8em;
    margin-right: .5em;
}

section a {
    color: #62a463;
    text-decoration: none;
}

section a:hover, section a:active {
    color: #0FA421;
    text-decoration: underline;
}

section .content-title {
    width: 15%;
    float: left;
    text-align: right;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 1em;
    font-weight: 400;
    border-right: 3px solid #62a463;
}

section .sos-title {
    width: 15%;
    float: left;
    text-align: right;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 1em;
    font-weight: 400;
    border-right: 3px solid #62a463;
}

.content-title img {
    width: 100%;
    height: auto;
    border: 1px solid #62a463;
}

section .content-title-right {
    width: 15%;
    float: right;
    text-align: left;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 1em;
    font-weight: 400;
    border-left: 3px solid #62a463;
}

section .content-text {
    width: 60%;
    height: auto;
    float: right;
    text-align: left;
    font-size: 1.5em;
    letter-spacing: 1px;
    padding: 5px 1em;
    font-weight: 300;
}

section .sos-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    width: 75%;
    height: auto;
    float: right;
    }

.sos-text .sos-item {
    width: 40%;
    height: auto;
    text-align: left;
    margin-right: auto;
        }

.sos-item h4 {
    font-size: 1.3em;
    letter-spacing: 1px;
    padding: 5px 1em;
    font-weight: 300;
}

.sos-item h5 {
    font-size: 1.3em;
    letter-spacing: 1px;
    padding: 5px 1em;
    font-weight: 300;
}

.sos-item .sos-star {
    margin-right: .5em;
    color: #62a463;
}

.sos-item .sos-button {
    margin: 1em;
    box-shadow: 0 4px 9px 1px rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 5px;
    background-color: #6cbf6d;
    color:#434343;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
    font-weight: 200;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.sos-item .sos-button:hover {
    background: rgba(0,0,0,0);
    color:#6cbf6d;
    box-shadow: inset 0 0 0 2px #6cbf6d;
    cursor: pointer;
}

.sos-item .sos-form {
    width: 100%;
    height: auto;
    margin: 1em;
}

.sos-item .sos-check {
    margin: 1em;
    text-transform: uppercase;
    }
.sos-item input {
    margin-right: .5em;
}

.sos-item .sos-pay {
    border: none;
    border-radius: 5px;
    background-color: #6cbf6d;
    color:#434343;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
    font-weight: 500;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.sos-item .sos-pay:hover {
    color:#f1f1f1;
    cursor: pointer;
    text-decoration: none;
}

section .content-text-left {
    width: 60%;
    float: left;
    text-align: left;
    font-size: 1.5em;
    letter-spacing: 1px;
    padding: 5px 1em;
    font-weight: 300;
}

section .item {
    width: 100%;
    margin: 1em auto;
    border-left: 2px solid #62a463;
}

section .item .rodzaj {
    float: left;
    font-size: 1.5em;
    letter-spacing: 1px;
    padding: 3px 0;
    font-weight: 300;
    margin-left: 0.5em;
}

section .item .cena {
margin-left: 0.5em;
    float: left;
    text-align: left;
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: 300;
}

section .item .nowaCena {
    font-size: 1.2em;
    padding: 3px 0;
    margin-left: 10px;
    font-weight: 300;
    text-decoration: line-through;
}

.kontakt-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    padding: 1em;
}

.kontakt .kontakt-item {
    width: 40%;
    margin: 2em 1em;
    border-left: 1px solid #62a463;
}

.kontakt .kontakt-item-full {
    width: 100%;
    text-align: center;
}

.kontakt h2 {
    padding-bottom: .5em;
    border-bottom: 1px solid #62a463;
    font-weight: 500;
}

.kontakt-item h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 1em;
    font-weight: 400;
}

.online .online-link:hover {
    color: #62a463;
    text-decoration: none;
}

.kontakt-item h4 {
    padding: 0.5em;
    font-size: 1.3em;
    font-weight: 400;
}

.online-link {
    padding: 1em 0;
}

.kontakt a {
    color: #434343;
    letter-spacing: 1px;
    font-weight: 300;
    text-decoration: none;
 }

.kontakt .star {
    padding: 1em .5em ;
    color: #62a463;
}

.kontakt a:hover, .kontakt a:focus {
    color: #62a463;
    text-decoration: none;
}

.kontakt-item .map {
    /*border: 2px solid #62a463;*/
    margin-left: .5em;
    width: 100%;
    height: auto;
}


.paralax {
    width: 100%;
    padding: 3% 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.paralax h1 {
    color: #f1f1f1;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    top: 50%;
    padding: 1% 0;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.5);
}

.faq {
    margin-top: 70px;
    padding: 5% 0;
    width: 100%;
    background-attachment: unset;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.faq h1 {
    color: #f1f1f1;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    top: 50%;
    padding: 2% 0;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.5);
}

.faq-content {
    width: 80%;
    margin: 1.5em auto;
}

.faq-item {
    width: 80%;
    margin: .5em;
}

.faq-item a {
    color: #62a463;
    text-decoration: none;
}

.faq-item a:hover, .faq-item a:focus {
    color: #0FA421;
    text-decoration: underline;
}

.question {
    margin: 1em .5em .5em .5em;
    text-align: left;
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: 300;
    list-style: none;
}

.question:before {
    content: "\274B";
    margin-right: .5em;
    color: #62a463;
}

.answer {
    margin: .4em;
    border-left: 2px solid #62a463;
}

.answer p {
    padding: .6em;
    text-align: left;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.5;
}




@media screen and (max-width: 1135px) {
    section .item {
        width: 100%;
        margin: 1em auto;
    }
}

@media screen and (min-width: 850px) {
    .kontakt-item-full .online {
        display: flex;
        flex-direction: row;
        text-align: center;
        width: 100%;
        margin: auto;
        justify-content: center;
    }
}

@media screen and (max-width: 1390px) {
    .kontakt-item-full .online {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 80%;
           }
    .last-star {
        display: none;
    }
    .online .online-link {
        padding: .5em 0;
    }

}

@media screen and (max-width: 1070px) {
    section .content-title {
        width: 20%;
    }

    section .content-title-right {
        width: 20%;
    }
    section .content-text {
        width: 50%;
    }
    section .content-text-left {
        width: 50%;
    }
}

@media screen and (max-width: 900px) {
    section .content-title {
        width: 25%;
        font-size: 2.8em;
        letter-spacing: 1px;}

    section .content-title-right {
        width: 25%;
        font-size: 2.8em;
        letter-spacing: 1px;}

    section .content-text {
        width: 50%;
        font-size: 1.3em;
    }

    section .content-text-left {
        width: 50%;
        font-size: 1.3em;
    }

    section .item {
        width: 100%;
        margin: 1em auto;
    }
}

@media screen and (max-width: 680px) {
    section .item {
        width: 100%;
        margin: 1em auto;
    }
    .kontakt .kontakt-item {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    section .content-title, section .sos-title{
        width: 50%;
        font-size: 2em;
        letter-spacing: 1px;}

    section .content-text-left {
        width: 90%;
        font-size: 1.3em;
        order: 1;
    }

    section .content-title-right {
        width: 50%;
        font-size: 2em;
        letter-spacing: 1px;
        margin-left: auto;
    }

    section .content-text, section .sos-text {
        width: 90%;
        font-size: 1.3em;
    }

    section .item, .sos-text .sos-item {
        width: 100%;
        margin: 1em auto;
    }

    section .item .rodzaj {
        font-size: 1.4em;
        letter-spacing: 1px;
    }

    section .item .cena {
        font-size: 1.4em;
    }

    section .kontakt-section {
        width: 100%;
        justify-content: left;
    }

    .faq-content {
        width: 90%;
        margin: 1.5em auto;
    }
}

@media screen and (max-width: 480px) {
    section .item {
        width: 100%;
        margin: 1em auto;
    }

    section .item .rodzaj {
        font-size: 1.2em;
        letter-spacing: 1px;
    }

    section .item .cena {
        font-size: 1.2em;
    }

    .privacy h1 {
        background-color: #6cbf6d;
        padding: 1em;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .faq-content {
        width: 100%;
        margin: 1.5em auto;
    }
}



.privacy {
    width: 100%;
    margin-top: 80px;
}

.privacy-text {
    width: 80%;
    border-left: 1px solid #6cbf6d;
    padding-left: 1em;
    }

.privacy h1 {
    background-color: #6cbf6d;
    padding: 1em;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.privacy-text h3 {
    font-size: 1.5em;
    padding: 1em 1.5em;
letter-spacing: 2px;
}

.privacy-text p {
    font-size: 1.2em;
    padding: .5em 1.5em;
    letter-spacing: 2px;
}

.privacy-text a {
    color: #62a463;
    text-decoration: none;
}

.privacy-text a:hover, .privacy-text a:focus {
    color: #0FA421;
    text-decoration: underline;
}

.privacy-text ol {
    list-style-position: inside;
   }

.privacy-text ol li {
    font-size: 1.2em;
    padding: .5em;
    letter-spacing: 2px;
}

.privacy-text .lower {
    list-style-type:  lower-latin;
   }

.privacy-text .lower li {
    font-size: 1em;
    padding: .5em;
    letter-spacing: 1px;
}

@media screen and (max-width: 480px) {

    .privacy h1 {
        background-color: #6cbf6d;
        padding: 1em .7em;
        font-size: 1.8em;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.footer {
    margin: 1em 0;
    border-top: 1px solid #6cbf6d;
    text-align: center;
    padding-top: .5em;
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: 300;
}

.footer .footer-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: 1em auto;
    text-align: left;
    padding: 2px;
    letter-spacing: normal;
}

.footer-text a {
    color:#434343;
    text-decoration: none;
    }

.footer-text p {
    font-size: 1.1em;
    color: #434343;
    font-weight: 300;
    text-decoration: none;
    padding: 3px;
}

.footer-text a:hover, .footer-text a:active {
    color: #62a463;
    text-decoration: none;
}

.footer .footer-links {
    width: 45%;
    padding: 0 1em;
     }

.footer-links .footer-links-align {
    float: right;
}

.footer .footer-info {
    width: 45%;
    padding: 0 1em;
    align-items: center;
}

@media screen and (max-width: 850px) {
    .footer .footer-text {width: 95%}
    .footer .footer-links {width: 30%}
    .footer .footer-info {width: 60%}
    .footer .footer-text p {font-size: 1em;}
}

@media screen and (max-width: 525px) {
    .footer {letter-spacing: normal}
    .footer-text .footer-links,.footer-text .footer-info {width: 100%}
    .footer .footer-links-align {float: none}
}

.credits {
    width: 100%;
    color: #64e966;
    padding: 1em 0;
    border-top: 3px solid #6cbf6d;
    text-align: center;
    background-color: #757576;
}

/* Cookie warning */
#cookie-warn{
    position: fixed;
    bottom: 0;
    background: #EEE;
    margin: 0;
    padding: 15px;
    display: none;
    z-index: 99;
    border-top: 1px solid #6cbf6d;
}

#cookie-warn a{
    color: #62a463;
    text-transform: uppercase;
    float: right;
    padding: 10px 20px ;
    text-decoration: none;
}

#cookie-warn a:hover {
    text-decoration: underline;
}


